:root {
  --max-width: 1220px;
  --link-color: #006ff7;
  --body-color: #00c1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* header */

.header {
  height: 100vh;
  position: relative;
}

.header::after {
  content: "";
  background-image: url("../assets/showcase-bg.png");
  background-position: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Navigation */
#main-nav {
  /* background: #fff; */
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 196px;
  height: 66px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  color: var(--link-color);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
}

#main-nav ul li a:hover {
  color: #333;
}

/* below header area */

.below-header-boxes .container {
  display: flex;
  position: relative;
  z-index: 2;
  transform: translateY(-80px);
  justify-content: space-between;
}

.box {
  width: 270px;
  height: 270px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-border {
  border: 2px solid #00b7fe;
}

.icon-image {
  width: 134px;
  height: 134px;
}

.box-text {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

/* Platform for development*/
.platform-for-development {
  position: relative;
  overflow: hidden;
}

.platform-for-development-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.platform-for-development-title {
  font-weight: 800;
  font-size: 26;
  line-height: 39px;
  color: #434343;
  margin-bottom: 20px;
}

.platform-for-development-wraper::after {
  content: "";
  background: #00c1ff;
  width: 53px;
  height: 6px;
  display: inline-block;
  text-align: center;
}

.platform-for-development-diamond {
  position: absolute;
  top: 0;
  right: -210px;
  max-width: 826px;
  max-height: 587px;
}

.platform-for-development .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.platform-for-development_content {
  max-width: 509px;
}

.platform-for-development_content h1 {
  color: #4d4d4d;
  font-weight: 600;
  font-size: 29px;
  line-height: 28px;
}

.special-word {
  font-size: 41px;
  font-weight: 800;
  line-height: 48px;
  color: #00c1ff;
}

.platform-for-development_content p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 30px;
}
