:root {
  /* --max-width: 1220px; */
  --max-width: 1560px;
  --max-width-2: 1220px;
  --max-width-3: 1302px;
  --link-color: #006ff7;
  --body-color: #00c1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container-small {
  max-width: var(--max-width-2);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container-smaller {
  max-width: var(--max-width-3);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* header */

.header {
  padding-bottom: 10rem;
  padding-top: 7rem;
  position: relative;
}

.header::after {
  content: "";
  background-image: url("../assets/showcase-bg.png");
  background-position: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Navigation */
#main-nav {
  /* background: #fff; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

#main-nav .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 196px;
  height: 66px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  color: var(--link-color);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
}

#main-nav ul li a:hover {
  color: #333;
}

/* below header area */

.below-header-boxes .container-small {
  display: flex;
  position: relative;
  z-index: 2;
  transform: translateY(-80px);
  justify-content: space-between;
}

.box {
  width: 270px;
  height: 270px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-border {
  border: 2px solid #00b7fe;
}

.icon-image {
  width: 134px;
  height: 134px;
}

.box-text {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

/* Platform for development*/
.platform-for-development {
  position: relative;
  overflow: hidden;
}

.platform-for-development-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.platform-for-development-title {
  font-weight: 800;
  font-size: 26;
  line-height: 39px;
  color: #434343;
  margin-bottom: 20px;
}

.platform-for-development-wraper::after {
  content: "";
  background: #00c1ff;
  width: 53px;
  height: 6px;
  display: inline-block;
  text-align: center;
}

.platform-for-development-diamond {
  position: absolute;
  top: 0;
  z-index: -1;
  right: -210px;
  max-width: 826px;
  max-height: 587px;
}

.platform-for-development .container-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.platform-for-development_content {
  max-width: 509px;
}

.platform-for-development_content h1 {
  color: #4d4d4d;
  font-weight: 600;
  font-size: 29px;
  line-height: 28px;
}

.special-word {
  font-size: 41px;
  font-weight: 800;
  line-height: 48px;
  color: #00c1ff;
}

.platform-for-development_content p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 30px;
}

/* portfolio */

.portfolio {
  margin-top: 3rem;
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  width: 349px;
  padding-bottom: 5rem;
}

.portfolio-card {
  max-width: 349px;
  height: 349px;
  background: #e7f0f7;
}

.portfolio-card-title {
  max-width: 255px;
  height: 77px;
  background: #97e7ff;
  margin: -2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  line-height: 39px;
  color: #fff;
}

/* Services */

/* .services {
  padding-bottom: 10rem;
} */

.services .container-smaller {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  padding: 4rem 0;
}

.service {
  width: 291px;
  /*height: 207px; */
  background: #f8fbfd;
  padding: 2rem;
  margin: auto;
}
.service-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  display: flex;
}

.service-title p {
  width: 115px;
  font-weight: 800;
  font-size: 16px;
  color: #434343;
  margin-left: 2rem;
}

.service-title img {
  width: 63px;
  height: 63px;
}

.services-text {
  max-width: 847px;
  margin: auto;
}

.services-text p {
  font-weight: 20px;
  line-height: 30px;
  color: #434343;
  text-align: center;
}

.service-detail {
  width: 232px;
  width: 232px;
  /* text-align: center; */
  margin-top: 2rem;
}

.service-detail p {
  font-size: 14px;
}

/* contact us */
.contact {
  background: #f7fcff;
  padding: 7rem 0;
}

.contact-form {
  max-width: 868px;
  margin: auto;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  font-size: 16px;
}

.input-fields input {
  color: #adc6d3;
  border: 1px solid #91afd8;
  padding: 10px 0;
  padding-left: 19px;
  width: 195px;
  font-family: "Montserrat", sans-serif;
}

#message {
  color: #adc6d3;
  border: 1px solid #91afd8;
  padding-left: 18px;
  padding-top: 10px;
  width: 100%;
  height: 92px;
  font-family: "Montserrat", sans-serif;
}

.submit-btn-wrap {
  display: flex;
  justify-content: center;
}

.submit-btn {
  padding: 13px 66px;
  border: none;
  background: #21b9f7;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  margin-top: 33px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
/* Ribbon */

.ribbon {
  width: 1559px;
  height: 140px;
  margin: auto;
  background: #25aff2;
  margin-top: -60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.img-1 {
  width: 108px;
  height: 64px;
}

.img-2 {
  width: 192px;
  height: 103px;
}

.img-3 {
  width: 285px;
  height: 95px;
}

/* Footer */

.footer {
  background: #003f65;
  margin-top: -78px;
  /* height: 60vh; */
  padding-top: 210px;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-diamond {
  position: relative;
  height: 235px;
  display: flex;
  width: 420px;
  justify-content: center;
  align-items: center;
}

.footer-diamond h1 {
  color: #94e7ff;
  font-size: 37px;
  font-weight: 800;
  line-height: 43px;
  width: 394px;
  text-align: center;
  letter-spacing: 12px;
}

.footer-diamond-img {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 400px;
  height: auto; */
  width: 329px;
  height: 235px;
}

/* Footer Info */

.footer-info p {
  font-size: 17px;
  color: #fff;
  line-height: 30px;
  width: 493px;
}

/* Footer Pages */

.footer-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer-pages p {
  font-size: 24;
  font-weight: 900;
  color: #94e7ff;
  line-height: 30px;
  margin-right: 62px;
}

.footer-pages ul li a {
  font-size: 18;
  font-weight: 600;
  color: #fff;
  line-height: 29px;
}

/* Footer Feeds */

.footer-feeds p {
  font-size: 24;
  font-weight: 900;
  color: #94e7ff;
  line-height: 30px;
  margin-right: 62px;
}

.footer-feeds-blocks img {
  width: 93px;
  height: 93px;
}

/* Copyright */

.copyright {
  background: rgba(121, 121, 121, 0.3);
  padding: 0.5rem;
  margin-top: 3rem;
  text-align: center;
}
.copyright p {
  color: #fff;
}
